<!-- <app-data-table
[tableData]="userTableData"
[tableColumns]="userTableColumns"
[isLoading]="isLoading"
[emptyMessage]="'No services found'"
(rowAction)="handleAction($event)">
></app-data-table> -->


<app-nav-bar></app-nav-bar>
<div class="admin-dashboard">
    <app-side-bar></app-side-bar>
  <div class="main-content">
  
    <app-data-table
      [tableData]="userTableData"
      [tableColumns]="userTableColumns"
      [isLoading]="isLoading"
      [emptyMessage]="'No users found'"
      (dropdownChange)="onDropdownChange($event)"
      (rowAction)="handleAction($event)"
    ></app-data-table>
  </div>
</div>