
<app-nav-bar></app-nav-bar>
<div class="admin-dashboard">
    <app-side-bar></app-side-bar>
  <div class="main-content">
  
    <app-data-table
      [tableData]="userTableData"
      [tableColumns]="userTableColumns"
      [isLoading]="isLoading"
      [emptyMessage]="'No users found'"
      (dropdownChange)="onDropdownChange($event)"
      (searchChange)="onSearchChange($event)"
      (rowAction)="handleAction($event)"
      [currentPage]="pagination.page"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
    ></app-data-table>
  </div>
</div>