<app-nav-bar></app-nav-bar>
<div class="admin-dashboard">
    <app-side-bar></app-side-bar>
  <div class="main-content">
  
    <app-data-table
      [tableData]="userTableData"
      [tableColumns]="userTableColumns"
      title="Users"
      [isLoading]="isLoading"
      [emptyMessage]="'No users found'"
      [currentPage]="pagination.page"
      [pageSize]="pagination.pageSize"
      [totalPages]="totalPages"
      (rowAction)="handleAction($event)"
      (pageChange)="onPageChange($event)"
      [searchTerm]="searchTerm"
      (searchChange)="onSearchChange($event)"
    ></app-data-table>
  </div>
</div>