// @use '../../../../styles/variables' as var;
// @use '../../../../styles/forms';
// @use '../../../../styles/buttons';

@use 'sass:color' as color;
@use 'variables' as var;
@use 'buttons' as btn; // Consistent namespace
@use 'forms' as forms;

.forgot-password-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f4f8 0%, #f9fafb 100%);

  .forgot-password-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var.$input-bg;
    padding: 40px;

    .logo-container {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      img {
        margin-right: 15px;
      }

      h1 {
        font-family: var.$title-font;
        font-size: 24px;
        color: var.$text-color;
      }
    }

    .forgot-password-title {
      font-family: var.$title-font;
      font-size: 28px;
      font-weight: 600;
      color: var.$text-color;
    }

    .forgot-password-subtitle {
      font-family: var.$primary-font;
      font-size: 16px;
      color: var.$gray-text;
      margin-bottom: 30px;
      text-align: center;
      max-width: 400px;
    }
  }

  .forgot-password-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px;

    .forgot-password-card {
      width: 100%;
      max-width: 450px;
      text-align: left;
    }
  }
}


.forgot-password-button {
  @include btn.button-style;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
  color: var.$link-color;
  font-family: var.$primary-font;
  text-align: center;

  .link-purple {
    color: var.$purple;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  

  // a {
  //   color: var.$button-bg;
  //   text-decoration: none;
  //   font-weight: 600;

  //   &:hover {
  //     text-decoration: underline;
  //   }
  // }
}