

<!-- <app-nav-bar></app-nav-bar> -->
<br>
<main class="bookings-container">
  <section class="bookings-section">
    <div class="task-layout">
      <app-partner-side-bar></app-partner-side-bar>
      <div class="table-wrapper">
        <app-data-table
            [tableData]="bookingsTableData"
            [tableColumns]="bookingsTableColumns"
            title="Tasks"
            [isLoading]="isLoading"
            emptyMessage="No bookings available at the moment."
            (rowAction)="onRowAction($event)"
            [currentPage]="pagination.page"
            [totalPages]="totalPages"
            (pageChange)="onPageChange($event)"
            [searchTerm]="searchTerm"
            (searchChange)="onSearchChange($event)"
            [searchPlaceholder]="'Search service name...'"
        ></app-data-table>
      <div *ngIf="error" class="error-message">
        <p>{{ error }}</p>
        </div>
      </div>
    </div>
  </section>
</main>

<app-modal
  [isOpen]="isModalOpen"
  [modalType]="modalType"
  [otpData]="selectedBooking"
  (close)="closeModal()"
  (otpVerified)="onOtpVerified($event)">
</app-modal>



