@use 'variables' as var;
@use '../partner-dashboard/partner-dashboard.component.scss';

.table-wrapper {
  background-color: var.$white;
  padding: var.$spacing-md;
  border-radius: var.$border-radius-md;
  box-shadow: var.$box-shadow-sm;
  flex-grow: 1;
}

.error-message {
  color: red;
  font-weight: bold;
  padding-top: var.$spacing-sm;
}