<app-nav-bar></app-nav-bar>
<div class="admin-dashboard">
  <app-side-bar></app-side-bar>
  <div class="main-content">
    <app-data-table
      [tableData]="subServiceTableData"
      [tableColumns]="subServiceTableColumns"
      title="Sub-Services"
      [isLoading]="isLoading"
      [emptyMessage]="'No services found'"
      [showAddButton]="true"
      [searchTerm]="searchTerm"
      (rowAction)="handleAction($event)"
      [searchTerm]="searchTerm" 
      (searchChange)="onSearchChange($event)"
      (addItem)="onAddSubService()"
      [currentPage]="pagination.page"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
    ></app-data-table>
  </div>
</div>
