 <footer class="footer">
  <div class="footer-container">
    <div class="footer-section company-info">
      <h3>FixoMojo</h3>
      <p>Service out of the world</p>
      <div class="company-links">
        <a href="/about">About Us</a>
        <br>
        <a href="/careers">Careers</a>
        <br>
        <a href="/terms">Terms</a>
        <br>
        <a href="/privacy">Privacy</a>
      </div>
    </div>

    <div class="footer-section contact-info">
      <h4>Contact</h4>
      <p><mat-icon>location_on</mat-icon> Bengaluru, KA</p>
      <p><mat-icon>phone</mat-icon> +91 85959 58088</p>
      <p><mat-icon>email</mat-icon> support&#64;fixomojo.com</p>
    </div>

    <div class="footer-section social-links">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><mat-icon>facebook</mat-icon></a>
        <a href="#"><mat-icon>linkedin</mat-icon></a>
        <a href="#"><mat-icon>twitter</mat-icon></a>
      </div>
    </div>

    <div class="footer-section newsletter">
      <h4>Join Our Newsletter</h4>
      <form class="newsletter-form">
        <input type="email" placeholder="Enter your email" />
        <button class="subscribe-btn" type="button">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 FixoMojo. All rights reserved.</p>
  </div>
</footer>